body {
    background-color: #72909C;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

article{
    display:flex;
    flex-direction:column;
    height:100vh;
}

input[type=text] {
  width: %100;
  font-size: 50px;
  border-radius: 55px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 25px;
  background-color: grey;
  color:black;

}
::placeholder{
    color: #C7C4CA;
}



header, footer {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #72909C;
    height: 200px;
}

section {
    flex-grow:1;
    background-color: #72909C;
    margin: 20px;
}

.logo img {
    display: block;
    margin: 0 auto;
}

h1 {
    color: #232A2D;
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

div {
    margin: 20px auto;
}

    div.baslik {
        font-size: larger;
        font-weight: bold;
    }

p.kutu {
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    margin: auto;
}

.arama:focus{
    border-radius: 55px;
    outline-width: 0px;

}

.arama{
    position: sticky;
    top: 0;
}

p {
    text-align: center;
}

.konteyner {
    display: flex;
    justify-content: space-between;
    height: 500px;
    background-color: #72909C;
}

div.kolon {
    background-color: #72909C;
    width: calc(50% - 10px);
    margin: 10px;
}
.tus{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #3D4A4F;
    padding: 14px 28px;
    font-size: 52px;
    cursor: pointer;
    text-align: center;
}

.tus span{
    display: block;
}